.navbar4-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar4-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.navbar4-image1 {
  width: 177px;
  height: 38px;
}
 
.navbar4-desktop-menu {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
 
.navbar4-links1 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar4-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-text10 {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar4-dropdown-arrow1 {
  transition: 0.3s;
}
 
.navbar4-icon10 {
  color: white;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar4-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #002e53;
  list-style-position: inside;
}
 
.navbar4-dropdown10 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text11 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown11 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text12 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown12 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text13 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-text14 {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar4-dropdown-arrow2 {
  transition: 0.3s;
}
 
.navbar4-icon12 {
  color: white;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar4-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #002e53;
  list-style-position: inside;
}
 
.navbar4-dropdown13 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text15 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown14 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle16:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text16 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown15 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle17:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text17 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-thq-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle18 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-text18 {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar4-dropdown-arrow3 {
  transition: 0.3s;
}
 
.navbar4-icon14 {
  color: white;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar4-dropdown-list3 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #002e53;
  list-style-position: inside;
}
 
.navbar4-dropdown16 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle19 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle19:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text19 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown17 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle20 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle20:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text20 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown18 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle21 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle21:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text21 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-thq-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle22 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-text22 {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar4-dropdown-arrow4 {
  transition: 0.3s;
}
 
.navbar4-icon16 {
  color: white;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar4-dropdown-list4 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #002e53;
  list-style-position: inside;
}
 
.navbar4-dropdown19 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle23 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle23:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text23 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown20 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle24 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle24:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text24 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown21 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle25 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle25:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text25 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-thq-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle26 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-text26 {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar4-dropdown-arrow5 {
  transition: 0.3s;
}
 
.navbar4-icon18 {
  color: white;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar4-dropdown-list5 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #002e53;
  list-style-position: inside;
}
 
.navbar4-dropdown22 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle27 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle27:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text27 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown23 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle28 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle28:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text28 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown24 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle29 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle29:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text29 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-buttons {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
}
 
.navbar4-action1 {
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  background-color: var(--dl-color-theme-secondary2);
}
 
.navbar4-text30 {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}
 
.navbar4-burger-menu {
  display: none;
}
 
.navbar4-icon22 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar4-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar4-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar4-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar4-logo {
  height: 3rem;
}
 
.navbar4-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar4-icon24 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar4-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar4-thq-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle30 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-text31 {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar4-dropdown-arrow6 {
  transition: 0.3s;
}
 
.navbar4-icon26 {
  color: white;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar4-dropdown-list6 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #002e53;
  list-style-position: inside;
}
 
.navbar4-dropdown25 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle31 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle31:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text32 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown26 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle32 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle32:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text33 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown27 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle33 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle33:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text34 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-thq-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle34 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-text35 {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar4-dropdown-arrow7 {
  transition: 0.3s;
}
 
.navbar4-icon28 {
  color: white;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar4-dropdown-list7 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #002e53;
  list-style-position: inside;
}
 
.navbar4-dropdown28 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle35 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle35:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text36 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown29 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle36 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle36:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text37 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown30 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle37 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle37:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text38 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-thq-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle38 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-text39 {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar4-dropdown-arrow8 {
  transition: 0.3s;
}
 
.navbar4-icon30 {
  color: white;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar4-dropdown-list8 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: #002e53;
  list-style-position: inside;
}
 
.navbar4-dropdown31 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle39 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle39:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text40 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown32 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle40 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle40:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text41 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-dropdown33 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar4-dropdown-toggle41 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar4-dropdown-toggle41:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar4-text42 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
}
 
.navbar4-fragment10 {
  display: contents;
}
 
.navbar4-text43 {
  display: inline-block;
}
 
.navbar4-fragment11 {
  display: contents;
}
 
.navbar4-text44 {
  color: rgb(25, 24, 24);
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 300;
  text-transform: none;
  text-decoration: none;
}
 
.navbar4-fragment12 {
  display: contents;
}
 
.navbar4-text45 {
  display: inline-block;
}
 
.navbar4-fragment13 {
  display: contents;
}
 
.navbar4-text46 {
  display: inline-block;
}
 
.navbar4-fragment14 {
  display: contents;
}
 
.navbar4-text47 {
  display: inline-block;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}
 
.navbar4-fragment15 {
  display: contents;
}
 
.navbar4-text48 {
  display: inline-block;
}
 
.navbar4-fragment16 {
  display: contents;
}
 
.navbar4-text49 {
  display: inline-block;
}
 
.navbar4-fragment17 {
  display: contents;
}
 
.navbar4-text50 {
  display: inline-block;
}
 
.navbar4-fragment18 {
  display: contents;
}
 
.navbar4-text51 {
  display: inline-block;
}
 
.navbar4-fragment19 {
  display: contents;
}
 
.navbar4-text52 {
  display: inline-block;
}
 
.navbar4-fragment20 {
  display: contents;
}
 
.navbar4-text53 {
  display: inline-block;
  font-style: normal;
}
 
.navbar4-fragment21 {
  display: contents;
}
 
.navbar4-text54 {
  display: inline-block;
  font-style: normal;
}
 
.navbar4-fragment22 {
  display: contents;
}
 
.navbar4-text55 {
  display: inline-block;
}
 
.navbar4-fragment23 {
  display: contents;
}
 
.navbar4-text56 {
  display: inline-block;
}
 
.navbar4-fragment24 {
  display: contents;
}
 
.navbar4-text57 {
  display: inline-block;
}
 
.navbar4-fragment25 {
  display: contents;
}
 
.navbar4-text58 {
  display: inline-block;
}
 
.navbar4-fragment26 {
  display: contents;
}
 
.navbar4-text59 {
  display: inline-block;
  font-style: normal;
}
 
.navbar4-fragment27 {
  display: contents;
}
 
.navbar4-text60 {
  display: inline-block;
}
 
.navbar4-fragment28 {
  display: contents;
}
 
.navbar4-text61 {
  display: inline-block;
}
 
.navbar4-fragment29 {
  display: contents;
}
 
.navbar4-text62 {
  display: inline-block;
  font-style: normal;
}
 
.navbar4-fragment30 {
  display: contents;
}
 
.navbar4-text63 {
  display: inline-block;
}
 
.navbar4-fragment31 {
  display: contents;
}
 
.navbar4-text64 {
  display: inline-block;
}
 
.navbar4-fragment32 {
  display: contents;
}
 
.navbar4-text65 {
  display: inline-block;
  font-style: normal;
}
 
.navbar4-fragment33 {
  display: contents;
}
 
.navbar4-text66 {
  display: inline-block;
}
 
.navbar4-fragment34 {
  display: contents;
}
 
.navbar4-text67 {
  display: inline-block;
}
 
.navbar4-fragment35 {
  display: contents;
}
 
.navbar4-text68 {
  display: inline-block;
  font-style: normal;
}
 
.navbar4-fragment36 {
  display: contents;
}
 
.navbar4-text69 {
  display: inline-block;
}
 
.navbar4-fragment37 {
  display: contents;
}
 
.navbar4-text70 {
  display: inline-block;
}
 
.navbar4-fragment38 {
  display: contents;
}
 
.navbar4-text71 {
  display: inline-block;
}
 
.navbar4-fragment39 {
  display: contents;
}
 
.navbar4-text72 {
  display: inline-block;
}
 
.navbar4-fragment40 {
  display: contents;
}
 
.navbar4-text73 {
  display: inline-block;
}
 
.navbar4-fragment41 {
  display: contents;
}
 
.navbar4-text74 {
  display: inline-block;
}
 
.navbar4-fragment42 {
  display: contents;
}
 
.navbar4-text75 {
  display: inline-block;
  font-style: normal;
}
 
.navbar4-fragment43 {
  display: contents;
}
 
.navbar4-text76 {
  display: inline-block;
}
 
.navbar4-fragment44 {
  display: contents;
}
 
.navbar4-text77 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .navbar4-image1 {
    width: var(--dl-layout-size-large);
    height: auto;
  }
  .navbar4-desktop-menu {
    display: none;
  }
  .navbar4-dropdown-list1 {
    display: none;
  }
  .navbar4-dropdown-list2 {
    display: none;
  }
  .navbar4-dropdown-list3 {
    display: none;
  }
  .navbar4-dropdown-list4 {
    display: none;
  }
  .navbar4-dropdown-list5 {
    display: none;
  }
  .navbar4-burger-menu {
    display: flex;
  }
  .navbar4-icon22 {
    fill: var(--dl-color-theme-secondary1);
    width: 30px;
    height: auto;
  }
  .navbar4-icon24 {
    fill: var(--dl-color-theme-secondary1);
    width: 30px;
    height: auto;
  }
  .navbar4-links2 {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .navbar4-dropdown-list6 {
    top: 0;
    left: 100%;
    display: none;
  }
  .navbar4-dropdown-list7 {
    top: 0;
    left: 100%;
    display: none;
  }
  .navbar4-dropdown-list8 {
    top: 0;
    left: 100%;
    display: none;
  }
  .navbar4-link1 {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    padding: var(--dl-layout-space-halfunit);
  }
  .navbar4-link2 {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    padding: var(--dl-layout-space-halfunit);
  }
}
 
@media(max-width: 767px) {
  .navbar4-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar4-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .navbar4-icon22 {
    fill: var(--dl-color-theme-secondary1);
    width: 30px;
    height: auto;
  }
  .navbar4-icon24 {
    fill: var(--dl-color-theme-secondary1);
    width: 30px;
    height: auto;
  }
  .navbar4-links2 {
    width: 100%;
  }
  .navbar4-icon26 {
    fill: var(--dl-color-theme-secondary1);
  }
  .navbar4-icon28 {
    fill: var(--dl-color-theme-secondary1);
  }
  .navbar4-icon30 {
    fill: var(--dl-color-theme-secondary1);
  }
}
 
@media(max-width: 479px) {
  .navbar4-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .navbar4-image1 {
    width: var(--dl-layout-size-medium);
  }
  .navbar4-dropdown-list1 {
    display: none;
  }
  .navbar4-dropdown-list2 {
    display: none;
  }
  .navbar4-dropdown-list3 {
    display: none;
  }
  .navbar4-dropdown-list4 {
    display: none;
  }
  .navbar4-dropdown-list5 {
    display: none;
  }
  .navbar4-icon22 {
    fill: var(--dl-color-theme-secondary1);
    width: 25px;
    height: auto;
  }
  .navbar4-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
  .navbar4-logo {
    width: var(--dl-layout-size-large);
    height: auto;
  }
  .navbar4-icon24 {
    fill: var(--dl-color-theme-secondary1);
    width: 30px;
    height: auto;
  }
  .navbar4-links2 {
    align-items: flex-start;
    flex-direction: column;
  }
  .navbar4-dropdown-toggle30 {
    padding: var(--dl-layout-space-halfunit);
  }
  .navbar4-icon26 {
    fill: var(--dl-color-theme-secondary1);
  }
  .navbar4-dropdown-list6 {
    top: 0;
    left: 100%;
    width: 180px;
    display: none;
    min-width: auto;
  }
  .navbar4-dropdown-toggle34 {
    padding: var(--dl-layout-space-halfunit);
  }
  .navbar4-icon28 {
    fill: var(--dl-color-theme-secondary1);
  }
  .navbar4-dropdown-list7 {
    top: 0;
    left: 100%;
    width: 180px;
    display: none;
    min-width: auto;
  }
  .navbar4-dropdown-toggle38 {
    padding: var(--dl-layout-space-halfunit);
  }
  .navbar4-icon30 {
    fill: var(--dl-color-theme-secondary1);
  }
  .navbar4-dropdown-list8 {
    top: 0;
    left: 100%;
    width: 180px;
    display: none;
    min-width: auto;
  }
  .navbar4-text54 {
    font-style: normal;
  }
  .navbar4-text62 {
    font-style: normal;
  }
  .navbar4-text65 {
    font-style: normal;
  }
}
